.Section1{
    background-color:rgb(245, 240, 230);
    display: inline-block;
    width: 100%;
}

.Section2{
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    display: inline-block;
    width: 100%;

}

.Section2 h1{
    color: white; 
}

.Section2 p{
    color: white;
}

li{ 
    display: inline;
}

.navBar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.navBar{
    position: sticky;
    top: 0;
    overflow: hidden;
    max-width: 400px;
}

.navBar ul li a{
    color: black;
    text-decoration: none;
    background-color: white;
    font-size: 28px;
}

.navBar ul li a:hover {
    background-color: #182b49; 
    color: white; 
}

.gridS3{
    display: grid;
    grid-template-columns: repeat(4,1(fr));
    gap: 25px;
    align-items: start;
}

.gridItems{
    background-color: #182b49; 
    color: white; 
    max-height: 500px; 
    overflow-y: scroll;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    


}
